            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }
            
            .container {
                display: grid;
                grid-template-columns: repeat(15, 50px), auto;
                grid-template-rows: 60px repeat(12, 40px);
                grid-gap: 1em;
                margin: auto;
                padding: 1em;
                width: 90%;
                height: 100vh;
            }
            
            .header {
                grid-column: 1 / 16;
                grid-row: 1;
                
                background-color: aliceblue;
                border: 1px solid #CACAD9;
                border-radius: 10px;
            }
            
             .property-search {
                grid-column: 13 / 16;
                grid-row: 1;
                
                text-align: center;
                
                
            }

           .menu {
                grid-column: 1 / 5;
                grid-row: 2 / 6;
                
                background-color: blue;    
                border-radius: 10px;
                max-width: 300px;

                display: grid;
                grid-template-columns: auto;
                grid-auto-rows: 20px auto 20px;

            }

            
            .prop-info {
                grid-column: 1 / 5;
                grid-row: 6 / 11;
                
                background-color: red;    
                border-radius: 10px;
                
                
            }
            
            .main {
                background-color: forestgreen;
                grid-column: 5 / 13;
                grid-row: 2 / 11;
                
                border-radius: 10px;
            }
            
            .footer {
                background-color: yellow;
                grid-column: 1 / 16;
                grid-row: 11 / 12;
            
                border-radius: 10px;
            }
            
            .users {
                background-color: skyblue;
                grid-column: 13 / 16;
                grid-row: 2 / 6;
            
                border-radius: 10px;
            }

            .responses {
                background-color: pink;
                grid-column: 13 / 16;
                grid-row: 6 / 11;
                
                border-radius: 10px;
            }
            
            
            .logo {
                grid-column: 1 / 2;
                grid-row: 1;

                text-align: center;
                background-color: white;
             }

            .nav {
                background-color: white;
                display: grid;
                
                grid-template-columns: 75px 75px 125px 95px 140px 65px 85px auto;
                grid-template-rows: 1fr;
                grid-column-gap: 5px;
                height: 35px;
                padding: 10px;
            }

            .btn-home {
                border-radius: 4px;
                grid-column: 2 / 3;
                grid-row: 1;
                
                text-align: center;
                background-color: white;
                border-radius: 4px;
            }

            .btn-home:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-home:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }
            

            .btn-search {
                grid-column: 3 / 4;
                grid-row: 1;
                
                background-color: white;
                border-radius: 4px;
                text-align: center;
            }

            .btn-search:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-search:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }

            .btn-checks {
                grid-column: 4 / 5;
                grid-row: 1;

                background-color: white;
                border-radius: 4px;
                text-align: center;
            }

            .btn-checks:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-checks:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }


            .btn-waterdays {
                grid-column: 5 / 6;
                grid-row: 1;
                
                background-color: white;
                border-radius: 4px;
                text-align: center;
            }

            .btn-waterdays:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-waterdays:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }

            .btn-misc {
                grid-column: 6 / 7;
                grid-row: 1;
                
                background-color: white;
                border-radius: 4px;
                text-align: center;
           }
            
            .btn-misc:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-misc:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }

            .btn-admin {
                grid-column: 7 / 8;
                grid-row: 1;
                
                background-color: white;
                border-radius: 4px;
                text-align: center;
            }

            .btn-admin:hover { 
                background-color: #CACAD9; 
                cursor: pointer; 
                color: black;
            }
            
            .btn-admin:active { 
                background-color: #CACAD9; 
                cursor: pointer; 
            }
            
           
            a {
                text-decoration: none;
            }
            
            select {
                height: 35px;
                color: red;
                font-size: 1em;
                text-align: center;
                border-radius: 10px;
                border: 1px solid rgba(216, 53, 0, .25);
            }
